.flex-center{
	display: inline-flex;
    justify-content: center;
}
.margin-mobile{
	background-color: #f07c29;
	border-color: #f07c29;
	padding: 1px 25px;
	font-weight: 500;
}
.margin-mobile:hover,.margin-mobile:active,.margin-mobile:focus{
	color: #000!important;
	background-color: #ffffff;
	border-color: #f07c29;
	padding: 1px 25px;
}
.product-link .product-button {
	float:none
}
.book-list .product-img a img {
    height: 180px;
    padding: 0 10px;
}
.semi-name {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.new-books{
	border: solid 1px #fff;
}
.new-books:hover{
	border: solid 1px #f07c29;
}
.project-page .product-wrapper{
	background: #fff;
	-webkit-box-shadow: 0px 0px 15px 9px rgba(230,230,230,0.69)
	-moz-box-shadow: 0px 0px 15px 9px rgba(230,230,230,0.69);
	box-shadow: 0px 0px 15px 9px rgba(230,230,230,0.69);
	border-color: #f07c2994;
}
.project-page .product-wrapper:hover{
	border: solid 1px #f07c29;
	background: #f7f8fa;
	-webkit-box-shadow: 0px 0px 19px 9px rgba(250,190,37,0.43);
	-moz-box-shadow: 0px 0px 19px 9px rgba(250,190,37,0.43);
	box-shadow: 0px 0px 19px 9px rgba(250,190,37,0.43);
}
.project-page .margin-mobile{
	background-color: #f07c29;border-color: #f07c29;padding: 6px 33px;font-weight: 500;
}
.project-page .margin-mobile:hover,
.project-page .margin-mobile:active,
.project-page .margin-mobile:focus{
	color: #000;background-color: #ffffff;border-color: #f07c29;padding: 6px 31px;font-weight: 700;
}
/*==================
	Responsive
====================*/
@media (max-width: 767px){
	.product-area .owl-carousel .owl-item {
	    padding: 0 49px;
	}
	.slider-area{
		height: 179px;
	}
    .product-area .owl-carousel .owl-nav button{
    	visibility: visible!important;opacity: 1!important;
    }
    .product-area .owl-carousel .owl-item{
    	padding: 0 49px;
    } 
    .product-area .product-wrapper {
    	height: auto!important;
    }
    .product-area .owl-carousel .owl-item img{
    	height: 200px!important;
    }
    .bestseller-area .owl-carousel .owl-item{
    	width: 162px!important;
    } 
    .order-tab-ul {
        display: block!important;
    }
    .team-content h3 {
	    font-size: 14px;
	    margin-left: -5px;
	}
	.book-mobile {
	    width: 50%;
	    float: left;
	    padding-left: 3px!important;
	    padding-right: 3px!important;
	}
	.breadcrumbs-area-mobile {
	    margin-bottom: 0!important;
	}
	.project-page .margin-mobile{
		margin-bottom: 15px;
	}
}
/*========================
		Only Mobile
==========================*/
@media only screen and (max-width: 700px) and (min-width: 375px){
	.mobile-side {
	    display: none;
	}	
	.new-books{
		border: solid 1px #f07c297d;
	}
}