.p-0{
	padding: 0
}
.flex{
	display: inline-flex;
}
.flex-center{
	display: inline-flex;
    justify-content: center;
}
.header-img img{
    width: 17%;
    margin-right: 10px;
}
.header-img a{
    color: #444444;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}
.header-img:hover a{
    color: #f07c29;
    text-decoration: underline;
}
.margin-mobile{
	background-color: #f07c29;
	border-color: #f07c29;
	padding: 1px 25px;
	font-weight: 500;
}
.margin-mobile:hover,.margin-mobile:active,.margin-mobile:focus{
	color: #000!important;
	background-color: #ffffff;
	border-color: #f07c29;
	padding: 1px 25px;
}
.product-link .product-button {
	float:none
}
.book-list .product-img a img {
    height: 180px;
    padding: 0 10px;
}
.semi-name {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.new-books{
	border: solid 1px #fff;
}
.new-books:hover{
	border: solid 1px #f07c29;
}
.project-page .product-wrapper{
	background: #fff;
	-webkit-box-shadow: 0px 0px 15px 9px rgba(230,230,230,0.69)
	-moz-box-shadow: 0px 0px 15px 9px rgba(230,230,230,0.69);
	box-shadow: 0px 0px 15px 9px rgba(230,230,230,0.69);
	border-color: #f07c2994;
}
.project-page .product-wrapper:hover{
	border: solid 1px #f07c29;
	background: #f7f8fa;
	-webkit-box-shadow: 0px 0px 19px 9px rgba(250,190,37,0.43);
	-moz-box-shadow: 0px 0px 19px 9px rgba(250,190,37,0.43);
	box-shadow: 0px 0px 19px 9px rgba(250,190,37,0.43);
}
.project-page .margin-mobile{
	background-color: #f07c29;border-color: #f07c29;padding: 6px 33px;font-weight: 500;
}
.project-page .margin-mobile:hover,
.project-page .margin-mobile:active,
.project-page .margin-mobile:focus{
	color: #000;background-color: #ffffff;border-color: #f07c29;padding: 6px 31px;font-weight: 700;
}
.user-detail .checkbox-form, .login-form, .billing-fields{
	padding: 28px 50px;
    background: #f6f5f5;
    border-radius: 10px;
	border: 2px dashed #f07c2999;
}
.select-add .checkbox-form {
	border: 2px dashed #f07c2999;
    border-radius: 10px; 
    background-color: #f6f5f5;
}
.select-add .row {
	margin: 0; 
}
.select-add .row p {
	margin-bottom: 2px; 
}
.select-add .checkout-form-list {
    clear: both;
    margin: 30px;
}
.select-add .checkout-form-list button{
    margin-right: 5px;
}
.icon-content{
	padding: 0;
    padding-left: 7px;
}
.add-ship-addrs .checkout-form-list {
    margin: 15px;
}
.loader-spin{
	font-size: 80px;
    position: absolute;
    left: 50%;
    top: 120%;
    color: #f07c29
}
.single-register .check input {
	height: auto;
	width: auto;
	margin-right: 5px;
}
.single-register .check .option {
    width: 50%;
    float: left;
.orders .checkbox-form{
	padding: 10px 0;
}
.orders .checkbox-form .product-info-area .nav-tabs{
	margin: 0 20px;
}
.orders .checkbox-form .product-info-area ul .ntab{
	float: right;
}
.orders .checkbox-form .product-info-area .tab-content {
	border: none;
}
.orders .checkbox-form .product-info-area .tab-content .valu {
	background-color: #fff;
	padding: 10px 0;
	border: 1px solid #ddd;
}
.orders .checkbox-form .product-info-area .order-content h4{
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-family: 'Rufina', serif;
}
.orders .checkbox-form .product-info-area .order-content p span{
	color: #000;
}
.orders .checkbox-form .product-info-area .price-final span{
	color: #f07c29;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Rufina', serif;
    font-weight: 400;
}
.status h6{
	display: inline-block;
    color: #fff;
    padding: 3px 7px;
    border-radius: 3px;
}
.orders .checkbox-form .product-info-area .order-content a {
	background-color: #e42222;
	color: #fff;
	padding: 4px 8px;
    border-radius: 3px;
}
.del{background-color: #109e10}
.pen{background-color: #10c19d}
.can{background-color: #e42222}
.orders .checkbox-form h5{
	text-align: center;
    margin:0 10px 20px;
}
.bdr{
	border-bottom: 1px solid #8f8585;
	margin: 10px; 
}
/*==================
	Responsive
====================*/
@media (max-width: 767px){
	.product-area .owl-carousel .owl-item {
	    padding: 0 49px;
	}
	.slider-area{
		height: 179px;
	}
    .product-area .owl-carousel .owl-nav button{
    	visibility: visible!important;opacity: 1!important;
    }
    .product-area .owl-carousel .owl-item{
    	padding: 0 49px;
    } 
    .product-area .product-wrapper {
    	height: auto!important;
    }
    .product-area .owl-carousel .owl-item img{
    	height: 200px!important;
    }
    .bestseller-area .owl-carousel .owl-item{
    	width: 162px!important;
    } 
    .order-tab-ul {
        display: block!important;
    }
    .team-content h3 {
	    font-size: 14px;
	    margin-left: -5px;
	}
	.book-mobile {
	    width: 50%;
	    float: left;
	    padding-left: 3px!important;
	    padding-right: 3px!important;
	}
	.breadcrumbs-area-mobile {
	    margin-bottom: 0!important;
	}
	.project-page .margin-mobile{
		margin-bottom: 15px;
	}
}
/*========================
		Only Mobile
==========================*/
@media only screen and (max-width: 700px) and (min-width: 375px){
	.mobile-side {
	    display: none;
	}	
	.new-books{
		border: solid 1px #f07c297d;
	}
}